fastapi
uvicorn[standard]
python-multipart
pydantic
requests
python-dotenv
langchain
langchain-community
pypdf
pinecone-client
sentence-transformers
transformers
torch
numpy
tiktoken
openai
logging
scipy
scikit-learn
tokenizers
huggingface-hub
sqlalchemy
psycopg2-binary
pgvector
